__pycache__/main.cpython-36.pyc
__pycache__/seq2seq.cpython-36.pyc
__pycache__/main.cpython-36.pyc
__pycache__/seq2seq.cpython-36.pyc
.ipynb_checkpoints/main-checkpoint.py
.ipynb_checkpoints/pred-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
.vscode/settings.json
models/__pycache__/__init__.cpython-36.pyc
models/__pycache__/seq2seq.cpython-36.pyc
models/__pycache__/transformer.cpython-36.pyc
models/.ipynb_checkpoints/seq2seq-checkpoint.py
models/.ipynb_checkpoints/transformer-checkpoint.py
data/__pycache__/__init__.cpython-36.pyc
data/__pycache__/dataset.cpython-36.pyc
data/.ipynb_checkpoints/dataset_dev-checkpoint.py
data/.ipynb_checkpoints/dataset-checkpoint.py
data/data/.ipynb_checkpoints/test-checkpoint.enc
runs/*
checkpoints/*
results/*
models/__pycache__/test.cpython-36.pyc
.vscode/launch.json
